@font-face {
  font-family: 'manrope-light';
  src: url('fonts/manrope-light/Manrope-Bold.ttf') format('truetype'),
       url('fonts/manrope-light/Manrope-ExtraBold.ttf') format('truetype'),
       url('fonts/manrope-light/Manrope-ExtraLight.ttf') format('truetype'),
       url('fonts/manrope-light/Manrope-Light.ttf') format('truetype'),
       url('fonts/manrope-light/Manrope-Medium.ttf') format('truetype'),
       url('fonts/manrope-light/Manrope-Regular.ttf') format('truetype'),
       url('fonts/manrope-light/Manrope-SemiBold.ttf') format('truetype');
  /* Ajoutez d'autres formats de police si nécessaire */
}

@font-face {
  font-family: 'butler-stencil';
  src :url('fonts/butler-stencil/Butler_Ultra_Light_Stencil.otf') format('opentype'),
       url('fonts/butler-stencil/Butler_Black_Stencil.otf') format('opentype'),
       url('fonts/butler-stencil/Butler_Bold_Stencil.otf') format('opentype'),
       url('fonts/butler-stencil/Butler_ExtraBold_Stencil.otf') format('opentype'),
       url('fonts/butler-stencil/Butler_Light_Stencil.otf') format('opentype'),
       url('fonts/butler-stencil/Butler_Medium_Stencil.otf') format('opentype'),
       url('fonts/butler-stencil/Butler_Regular_Stencil.otf') format('opentype');
  /* Ajoutez d'autres formats de police si nécessaire */
}

@font-face {
  font-family: 'butler';
  src :url('fonts/butler/Butler_Ultra_Light.otf') format('opentype');

  /* Ajoutez d'autres formats de police si nécessaire */
}

@font-face {
  font-family: 'manrope';
  src: url('fonts/manrope-light/Manrope-Light.ttf') format('truetype'),
}
/* Utilisation de la police 'Butler_Ultra_Light_Stencil' pour les h1 */
h1 {
  font-family: 'butler', sans-serif;
  font-size: 128px;
  font-weight: 500;
  margin-bottom: -40px;
}

.prenom {
  font-family: 'manrope', sans-serif;
  font-weight: 400;
  margin: 0;
}

/* Utilisation de la police 'butler-stencil' pour les autres titres (h2, h3) */
h2, h3 {
  font-family: 'butler-stencil', sans-serif;
}

/* Utilisation de la police 'manrope-light' pour les paragraphes et h4 */
p, h4 {
  font-family: 'manrope-light', sans-serif;
}
