@font-face {
  font-family: 'manrope-light';
  src: url('fonts/manrope-light/Manrope-Bold.ttf') format('truetype'),
       url('fonts/manrope-light/Manrope-ExtraBold.ttf') format('truetype'),
       url('fonts/manrope-light/Manrope-ExtraLight.ttf') format('truetype'),
       url('fonts/manrope-light/Manrope-Light.ttf') format('truetype'),
       url('fonts/manrope-light/Manrope-Medium.ttf') format('truetype'),
       url('fonts/manrope-light/Manrope-Regular.ttf') format('truetype'),
       url('fonts/manrope-light/Manrope-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'butler-stencil';
  src :url('fonts/butler-stencil/Butler_Ultra_Light_Stencil.otf') format('opentype'),
       url('fonts/butler-stencil/Butler_Black_Stencil.otf') format('opentype'),
       url('fonts/butler-stencil/Butler_Bold_Stencil.otf') format('opentype'),
       url('fonts/butler-stencil/Butler_ExtraBold_Stencil.otf') format('opentype'),
       url('fonts/butler-stencil/Butler_Light_Stencil.otf') format('opentype'),
       url('fonts/butler-stencil/Butler_Medium_Stencil.otf') format('opentype'),
       url('fonts/butler-stencil/Butler_Regular_Stencil.otf') format('opentype');
}

@font-face {
  font-family: 'butler';
  src :url('fonts/butler/Butler_Ultra_Light.otf') format('opentype');
}

@font-face {
  font-family: 'manrope';
  src: url('fonts/manrope-light/Manrope-Light.ttf') format('truetype'),
}

@font-face {
  font-family: 'manrope-ultra-light';
  src: url('fonts/manrope-light/Manrope-ExtraLight.ttf') format('truetype'),
}

@font-face {
  font-family: 'manrope-medium';
  src: url('fonts/manrope-light/Manrope-Medium.ttf') format('truetype'),
}

/* code pour scroll */

html, body, section {
  overflow-x: hidden; /* Empêche la barre de défilement horizontale */
  background-color: black;
  scroll-snap-type: y mandatory;
  block-size: 100%;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}


/* code design */

h1 {
  font-family: 'butler', sans-serif;
  font-size: 200px;
  font-weight: 500;
  color: white;
  margin-bottom: -80px;
}

.prenom {
  font-family: 'manrope', sans-serif;
  font-weight: 100;
  color: white;
  margin: 0;
  margin-bottom: 48px;
}

.nom {
  margin-top: 80px;
}

h2, h3 {
  font-family: 'butler-stencil', sans-serif;
  color: white;
}

p, h4, a , li{
  font-family: 'manrope-ultra-light', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 18px;
  line-height: 1.5;
}

.pres {
  font-size: 24px;
  padding-right: 120px;
  margin-top: 64px;
  text-align: end;
}

.sub-cont {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

/* code pour le console log */

.string {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 4s infinite;
}

.greeting {
  position: relative;
  top: 0vmin;
  animation: white-out 7s infinite;
}

.black-box {
  position: relative;
  z-index: 18;
  margin-top: -98px;
  margin-left: 30px;
  height: 21vmin;
  width: 40vmin;
  background: black;
  margin-bottom: -72px;
}

.black-box-2 {
  position: relative;
  height: 22vmin;
  width: 30vmin;
  background: black;
  margin-top: 48px;
  margin-left: -224px;
  z-index: 18;
}

.en {
  color: #fa8231;
}

.es {
  color: greenyellow;
}

.de {
  color: #c678dd;
}

.ru {
  color: rgb(47, 141, 255);
}

@keyframes move {
  25% {
    transform: translatey(-6.8vmin);
    opacity: 1;
  }
  48% {
    transform: translatey(-14vmin);
  }
  70% {
    transform: translatey(-21vmin);
  }
}

.console-log {
  display: flex;
  margin-top: 54px;
}

/* code pour le premier projet */

.container {
  margin-left: 116px;
  margin-right: 116px;
  display: flex;
  margin-top: 248px;
  gap: 128px;
}

.surf-course-title {
  font-size: 72px;
}

.img-surfcourse {
  height: 450px;
  width: 600px;
}

.mockup-the-surf-course {
  margin-top: -78px;
}

.techno-utilisees {
  font-family: 'manrope-medium', sans-serif;
}

.trait {
  margin: 0;
  height: 1px;
  width: 172px;
  color: white;
  background-color: white;
}

.langage {
  display: flex;
  gap: 32px;
  margin-top: -24px;
}

.ruby, .javascript, .sql {
  display: flex;
  align-items: center;
  gap: 8px;
}

.lien-boutique {
  display: block;
  margin-top: 18px;
  margin-right: 148px;
}

.flex-surf-project {
  display: flex;
  justify-content: space-between;
}

/* code pour le deuxième projet */

.first-project-col {
  margin-top: -56px;
}

.second-project-col {
  margin-top: -80px;
}

.mockup-tudobemmaman {
  margin-top: 48px;
}

/* code pour troisième projets */

.portfolio {
  margin-top: 56px;
  border-radius: 8px;
}


/* code pour autres projets */

.container-2 {
  margin-left: 116px;
  margin-right: 116px;
  display: flex;
  margin-top: 72px;
  gap: 128px;
  column-count: 2;
}

.other-project {
  font-size: 72px;
  text-align: center;
}

.other-project-1 {
  font-size: 48px;
  text-align: center;
}

.other-project-2 {
  font-size: 48px;
  text-align: center;
}

.logo-python {
  margin-left: 8px;
}

.left-col-2{
  width: 50%;
}

.right-col-2{
  width: 50%;
}

.extension-project {
  height: 350px;
  width: 500px;
}


.loader {
  background-color: black;
  display: flex;
  justify-content: center;
  z-index: 100000;
  gap: 18px;
  margin-top: 164px;
}

.loader__element {
  border-radius: 50%;
  border: 5px solid white;
}

.loader__element:nth-child(1) {
  animation: preloader .6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
  animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
  animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
  100% { transform: scale(2); }
}

/* code pour le footer */

.contact {
  font-size: 72px;
  text-align: center;
  margin-bottom: 98px;
  margin-top: 272px;
}

.gmail-logo {
  margin-left: -12px;
  margin-top: 12px;
}

button {
  all: unset;
  cursor: pointer;
}

.en-savoir-plus {
  font-family: 'manrope-medium', sans-serif;
}

.en-savoir-plus:hover {
  color: blue;
}

#cache {
  display: none;
}

#cache-2 {
  display: none;
}

#cache-3 {
  display: none;
}

#cache-4 {
  display: none;
}


/* code pour animation affichage au scroll */

.reveal {
  opacity: 1;
  transform: translateY(0);
  transition: all .7s ease-in-out;
}

.reveal-visible {
  opacity: 0;
  transform: translateY(-10px);
}


/* code pour format tablette */

@media (min-width: 768px) and (max-width: 1024px) {

  /*code pour premier écran */
  h1 {
    font-family: 'butler', sans-serif;
    font-size: 128px;
    font-weight: 500;
    color: white;
    margin-bottom: 12px;
  }

  .prenom {
    font-family: 'manrope', sans-serif;
    font-weight: 100;
    color: white;
    margin-top: -48px;
    margin-bottom: 96px;
  }

  .nom {
    margin-top: 160px;
  }

  .flex {
    display: flex;
    justify-content: space-evenly;
    margin-left: 48px;
    margin-right: -60px;
  }

  @keyframes move {
    25% {
      transform: translatey(-7.8vmin);
      opacity: 1;
    }
    48% {
      transform: translatey(-16vmin);
    }
    70% {
      transform: translatey(-24vmin);
    }
  }

  .black-box {
    position: relative;
    z-index: 18;
    margin-top: -98px;
    margin-left: 30px;
    height: 24vmin;
    width: 40vmin;
    background: black;
    margin-bottom: -72px;
  }

  .black-box-2 {
    position: relative;
    height: 24vmin;
    width: 30vmin;
    background: black;
    margin-top: 48px;
    margin-left: -224px;
    z-index: 18;
  }

  /* code pour premier projet */
  .container {
    margin-left: 116px;
    margin-right: 116px;
    display: block;
    margin-top: -48px;
    gap: 128px;
  }

  .mockup-the-surf-course {
    display: block;
    justify-content: center;
    margin-top: -28px;
  }

  .right-col {
    display: flex;
    justify-content: center;
  }

  .surf-course-title {
    font-size: 72px;
    margin-bottom: -8px;
    text-align: center;
  }

   /* code pour deuxieme projet */
   .second-project-col {
    display: block;
  }

  .second-project-title {
    font-size: 72px;
    margin-top: 148px;
    text-align: center;
  }

  .second-project-container {
    margin-left: 116px;
    margin-right: 116px;
    display: block;
    margin-top: 0px;
    gap: 128px;
  }

  /* code pour quatrieme projet */
  .reveal-visible-test {
    margin-top: 354px;
    margin-bottom: 256px;
  }

  .col-loader {
    margin-left: 124px;
  }

  /* code pour autres projet */
  .container-2 {
    display: block;
    column-count: 1;
  }

  .other-project-left-col{
    width: 100%;
    margin-bottom: 96px
  }

  .other-project-right-col{
    width: 100%
  }

  .loader-other-project {
    margin-top: 28px;
    margin-bottom: 56px;
  }

  /* code pour contact */
  .flex-other-project {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
}


/* code pour format mobile */

@media (min-width: 320px) and (max-width: 480px) {
}
